include ../../../mixins/index

+b.section.--content.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.section.--primary.SECTION
      +b.image.--main.IMG(
        src= ('../../static/img/pic1.png')
      )

      +b.content-block.--first
        +e.text.--description.H3 Lorem ipsum dolor sit amet, in has dico nulla indoctum 
        +e.text.P duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
        +e.text.P Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. #[a(class="link link--readmore" href="#") Reade more]
      
      
      +b.content-block.--second
        +b.t-content
          +b.table.TABLE
            +b.string.tabel-bg.THEAD
              +b.head.TH Column 1
              +b.head.TH Column 2
              +b.head.TH Column 3
              +b.head.TH Column 4
              +b.head.TH Column 5
            +b.TDBODY
              +b.string.TR
                +b.TD Column 1
                +b.TD Column 2
                +b.TD Column 3
                +b.TD Column 4
                +b.TD Column 5
              +b.string.tabel-bg.TR
                +b.TD Column 1
                +b.TD Column 2
                +b.TD Column 3
                +b.TD Column 4
                +b.TD Column 5
              +b.string.TR
                +b.TD Column 1
                +b.TD Column 2
                +b.TD Column 3
                +b.TD Column 4
                +b.TD Column 5
              +b.string.tabel-bg.TR
                +b.TD Column 1
                +b.TD Column 2
                +b.TD Column 3
                +b.TD Column 4
                +b.TD Column 5


      +b.content-block.--third
        +b.black-line.SPAN 
        +b.text.P Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam,


      +b.content-block.--fourth
        +b.text-wrapper
          +b.dot.SPAN
          +b.text.P Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. 
        
        +b.text-wrapper
          +b.dot.SPAN
          +b.text.P Liber eloquentiam eos te, ad discere volutpat mnesarchum est. Ei est mutat mazim primis. An mea mucius utroque, quando nominavi scaevola ad duo. Est cu wisi facer aliquip, in vim mucius docendi ancillae. Duo id volumus persecuti. Platonem scripserit in nec. Vitae audiam ocurreret mei ex.
        
        +b.text-wrapper
          +b.dot.SPAN
          +b.text.P Usu cu luptatum reprehendunt, viris delenit an his, molestie fabellas te eam. Eos eu quando honestatis, solum dolorum petentium cum ea, cu sit appetere pericula. An nam justo legere assueverit, ut eum graecis dissentiet. Sumo tractatos est no, 


      +b.content-block.--first.--fifth
        +e.text.--description.H3 Lorem ipsum dolor sit amet, in has dico nulla indoctum 
        +e.text.P duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
        +e.text.P Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea.
      
      
      +b.content-block.--sixth
        +e.item
          +b.text.--number.P 1
          +b.text.P Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. 
        
        +e.item
          +b.text.--number.P 2
          +b.text.P Liber eloquentiam eos te, ad discere volutpat mnesarchum est. Ei est mutat mazim primis. An mea mucius utroque, quando nominavi scaevola ad duo. Est cu wisi facer aliquip, in vim mucius docendi ancillae. Duo id volumus persecuti. Platonem scripserit in nec. Vitae audiam ocurreret mei ex.
        
        +e.item
          +b.text.--number.P 3
          +b.text.P Usu cu luptatum reprehendunt, viris delenit an his, molestie fabellas te eam. Eos eu quando honestatis, solum dolorum petentium cum ea, cu sit appetere pericula. An nam justo legere assueverit, ut eum graecis dissentiet. Sumo tractatos est no, 
     
     
      +b.content-block.--seventh
        +e.item.--tags 
          +b.text.P TAGS
          +b.link-wrapper 
            +b.link.coment-tag.A(
              href= "#"
            ) KATEGORIEN 1
          
          +b.link-wrapper 
            +b.link.coment-tag.A(
              href= "#"
            ) KATEGORIEN 2
          
          +b.link-wrapper 
            +b.link.coment-tag.A(
              href= "#"
            ) KATEGORIEN 3
          
          +b.link-wrapper 
            +b.link.coment-tag.A(
              href= "#"
            ) KATEGORIEN 4
          
          +b.link-wrapper 
            +b.link.coment-tag.A(
              href= "#"
            ) KATEGORIEN 5
        +e.item.--coments
          +coment(
            "../../static/img/avatars/ava1.jpg",
            "Oliver Rice",
            "sagt: 27.08.2018 um 13:49 Uhr",
            "Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut."
            )
          
          +coment(
            "../../static/img/avatars/ava2.jpg",
            "Adela Butler ",
            "sagt: 27.08.2018 um 13:49 Uhr",
            "Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut."
            )
          
          +coment(
            "../../static/img/avatars/ava3.jpeg",
            "Andrew Ber",
            "sagt: 27.08.2018 um 13:49 Uhr",
            "Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut."
            )
      
      
      +b.content-block.--eighth
        +e.text.--description.H3 SCHREIBE EINEN KOMMENTAR
        +b.text.P Deine E-Mail-Adresse wird nicht veröffentlicht. Erforderliche Felder sind mit * markiert.
        +b.form.--coment.js-form.FORM(
          data-action= 'https://httpbin.org/post',
          data-method= 'POST',
          novalidate
        )
          +b.field-wrapper
            +b.field.INPUT(
              type= 'email',
              placeholder= 'Email Address',
              name= 'email'
              data-rule= 'required|email'
            )
            +b.field.INPUT(
              type= 'text'
              placeholder= 'Name',
              name= 'name',
              data-rule= 'required|name'
            )
          +b.field.--text.TEXTAREA(
            type= 'text'
            placeholder= 'Kommentar',
            name= 'message'
            )
          +b.btn.all-buttons.BUTTON(
            type= 'submit'
          ) KOMMENTAR ABSCHICKEN

        
    +b.section.--secondary.SECTION
      +new-card(
        "../pages/nachrichtentitel.html",
        "../../static/img/news/news1.png",
        "22.08.2020",
        "Nachrichtentitel")
      
      +new-card(
        "../pages/nachrichtentitel.html",
        "../../static/img/news/news2.png",
        "22.08.2020",
        "Nachrichtentitel")
      
      +new-card(
        "../pages/nachrichtentitel.html",
        "../../static/img/news/news3.png",
        "22.08.2020",
        "Nachrichtentitel")