include ../../../mixins/index

+b.section.--project.SECTION 
  +b.swiper.swiper-second
    +b.cards-wrapper.swiper-wrapper
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/projekts/project1.png'
          )
      
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/projekts/project2.png'
          )
      
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/projekts/project3.png'
          )
      
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/projekts/project4.png'
          )
      
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/projekts/project5.png'
          )
    +b.swiper-button.--next-project.SPAN
      +b.image.IMG(
        src= ('../../static/img/icon/sliderarrow.png')
      )
    +b.swiper-button.--prev-project.SPAN
      +b.image.IMG(
        src= ('../../static/img/icon/sliderarrow.png')
      )

  +b.bread-bg
  +b.breadcrumb-wrapper.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.breadcrumb
      +e.link.A(
        href= "../pages/index.html"
      ) Home
      +e.text.P /
      +e.text.--position.P Project

  +b.text-wrap.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.text.P Template page

+b.section.--about-project.SECTION
  +b.info.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +e.item.--first
      +b.text.--subtitle.P DESCRIPTION
      +b.text.P Lorem ipsum dolor sit amet, in has dico nulla indoctum, duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has
    +e.item.--photo
      +b.text.--subtitle.P PRODUKTE
      +b.photos
        +b.photo-wrapper 
          +b.photo 
            +b.photo.--bg
              +b.image.IMG(
                src= ('../../static/img/icon/eye.png')
              )
            +b.image.IMG(
              src= ('../../static/img/projekts/pr1.png')
            )
            
        +b.photo-wrapper 
          +b.photo
            +b.photo--bg
              +b.image.IMG(
                src= ('../../static/img/icon/eye.png')
              )
            +b.image.IMG(
              src= ('../../static/img/projekts/pr2.png')
            )
          
        +b.photo-wrapper 
          +b.photo
            +b.photo--bg
              +b.image.IMG(
                src= ('../../static/img/icon/eye.png')
              )
            +b.image.IMG(
              src= ('../../static/img/projekts/pr2.png')
            )
          
        +b.photo-wrapper 
          +b.photo 
            +b.photo--bg
              +b.image.IMG(
                src= ('../../static/img/icon/eye.png')
              )
            +b.image.IMG(
              src= ('../../static/img/projekts/pr3.png')
            )
          
        +b.photo-wrapper 
          +b.photo 
            +b.photo--bg
              +b.image.IMG(
                src= ('../../static/img/icon/eye.png')
              )
            +b.image.IMG(
              src= ('../../static/img/projekts/pr4.png')
            )
          
    +e.item.--kategories
      +b.text.--subtitle.P TAGS
      +b.kategories-wrapper
        +b.kategories.--first
          +b.text.P KATEGORIEN 1
          +b.text.P KATEGORIEN 1
          +b.text.P KATEGORIEN 1
        +b.kategories.--second
          +b.text.P KATEGORIEN 2
          +b.text.P KATEGORIEN 2