include ../../../mixins/index

+b.section.--slider.SECTION 
  +b.swiper
    +b.cards-wrapper.swiper-wrapper
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/slider/s1.png'
          )
      
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/slider/s2.png'
          )
      
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/slider/s3.png'
          )
      
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/slider/s4.png'
          )
     
      +b.card.swiper-slide
        +b.wrap
          +b.image-slide.IMG(
            src= '../../static/img/slider/s5.png'
          )
   
    +b.controle-wrapper 
      +b.swiper-button-prev
        +b.controle-image.IMG(
          src= ('../../static/img/icon/arrowSlider.png')
        )
      +b.swiper-pagination

      +b.swiper-button-next
        +b.controle-image.IMG(
          src= ('../../static/img/icon/arrowSlider.png')
        )
    +b.text.P Licht zum sehen